/*------------ main body ------------*/
.main_body{
     background-color: var(--mb-background-color);
     width: 100%;
     height: auto;
}

#top{
     position: absolute;
     top: 0;
}

/*--- sidebar ---*/
.sidebar{
     position: fixed;
     width: 200px;
     /* align-self: self-start; */
     padding: 5px;
     background-color: var(--h-background-color);
     opacity: 0.9;
     border-bottom-right-radius: 5px;
     z-index: 1;
}
.sidebar h2{
     text-align: center;
     padding: 5px 0;
     color: var(--h-text-color);
     border-bottom: dotted 1px var(--h-text-color);
}
.sidebar .menu_icon{
     color: var(--h-text-color);
     padding: 3px;
     cursor: pointer;
     transition: all 0.4s ease-in-out;
     border-radius: 3px;
     visibility: hidden;
}
.sidebar li{
     margin: 10px 0;
     transition: all 0.4s ease-in-out;
     padding: 3px;
     font-size: var(--m);
     list-style: none;
}
.sidebar li a{
     color: var(--h-text-color);
}
/*--- sidebar hover ---*/
.sidebar li:hover{
     background-color: var(--h-hover-color);

}
.sidebar .menu_icon:hover{
     background-color: var(--h-hover-color);
}

/*--- scropll to top ---*/
.to_top{
     position: fixed;
     right: 20px;
     bottom: 50px;
     font-size: var(--xl);
     font-family: bold;
     color: gold;
     transition: all 0.4s ease-in-out;
}
.to_top:hover{
     color: rgb(159, 135, 0);
}

/*------------ main body contents ------------*/
.body_section{
     width: 70%;
     /* margin: auto; */
     padding: 20px;
     margin: 10px 0;
     margin-left: 50%;
     transform: translate(-45%);
     border:  solid 1px red;
}
.body_section h1{
     text-align: center;
     color: var(--hover-alternative-color);
}
.body_section .article{
     padding: 10px;
     border-bottom: dotted 1px var(--mb-text-color);
}
.body_section .article:last-child{
     border-bottom: none;
}
.body_section .article > p{
     padding: 5px 0;
     font-size: var(--m);
}
.body_section .article > h2{
     border-left: solid 3px var(--fb-color);
     display: inline;
     padding-left: 3px;
}
.body_section .img-item{
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
     width: 100%;
     height: auto;
}
.body_section img{
     width: 30%;
     margin: 5px;
     height: auto;
     border-radius: 5px;
}
/*------------ cards item ------------*/
.body_section .items{
     display: flex;
     flex-wrap: wrap;
     align-items: start;
     font-size: var(--m);
}
.body_section .items .card{
     width: 30%;
     height: auto;
     margin: 10px;
     background: linear-gradient(150deg, var(--fb-color), var(--fb-hover-color));
     color: var(--fb-text-color);
     padding: 10px;
     border-radius: 5px;
     
}
.body_section li{
     margin: 10px 0;
}
.body_section .items .card p{
     margin: 10px 0;
}
/*------------ title ------------*/
.test{
     width: 100%;
     height: auto;
     background-color: brown;
     margin: 50px 0;
     padding: 20px;
     /* border-top-left-radius: 50%;
     border-bottom-right-radius: 50%; */
}
/*------------ scrollbar ------------*/
::-webkit-scrollbar{
     background: transparent;
     width: 5px;
}
::-webkit-scrollbar-thumb{
     background: linear-gradient(lime, var(--hover-alternative-color));
     width: 5px;
     border-radius: 5px;
}
/*------------ title ------------*/
