/*--- header ---*/
@media screen and (max-width: 500px) {
     .header-container{
          width: 100%;
          height: 30px;
          visibility: hidden;
          transition: all 0.4s ease-in-out;
     }
     .header-container .header{
          width: 100%;
          display: flex;
          flex-direction: column;
     }
     .header-container .header li{
          margin: 5px 0;
          
     }
     .header-container .menu_icon{
          visibility: visible;     /* this is problime */
          /* display: block; */
          cursor: pointer;
          background-color: var(--h-background-color);
     }
     /*--- hover ---*/
     .header-container:hover{
          visibility: visible;
          height: auto;
          
     }
     .body_section .items .card{
          width: 100%;
          height: auto;
     }
}

/*--- sidebar ---*/
@media screen and (max-width: 500px){
     .sidebar{
          visibility: hidden;
     }
     .sidebar .menu_icon{
          visibility: visible;
          background-color: var(--h-background-color);
     }
     /*--- hover ---*/
     .sidebar:hover{
          visibility: visible;
          /* display: initial; */
     }
}

/*--- main body ---*/
@media screen and (max-width: 500px){
     
}

/*--- footer ---*/
@media screen and (max-width: 500px) {
     .footer-container{
          padding: 10px 100px;
          
     }
     .footer-container .content{
          display: flex;
          flex-direction: column;
     }
     .footer-container .section li{
          margin-top: 20px;
     }
}