/*----- styles connecting -----*/
@import url(header-footer.css);
@import url(main.css);
@import url(tables.css);
@import url(media_query.css);

/*----- fonts -----*/
/* @font-face{
     font-family: "sans";
     src: url(../fonts/OpenSans.ttf) format(ttf);
}
@font-face{
     font-family: "farsi";
     src: url(../fonts/Yekan.ttf) format(ttf);
} */

/* @import url('../fonts/OpenSans.ttf');
@import url('../fonts/Yekan.ttf'); */

/*----- style of genarall -----*/
*{
     padding: 0;
     margin: 0;
     text-decoration: none;
     box-sizing: border-box;
     letter-spacing: 1px;
     word-spacing: 2px;
     scroll-behavior: smooth;
}

/*----- colors -----*/
:root{
     /*-- colors for header --*/
     --h-background-color: rgb(25,25,25);
     --h-text-color: rgb(226, 226, 226);
     --h-hover-color: rgb(67, 67, 67);
     /*-- colors for main body --*/
     --mb-background-color: rgb(240,240,240);
     --mb-text-color: rgb(50,50,50);
     --mb-hover-color: rgb(205,205,205);
     /*-- colors for footer --*/
     --f-background-color: rgb(77,0,57);
     --f-text-color: rgb(255,230,250);
     --f-hover-color: rgb(120,0,96);

     /*-- First alternative colors --*/
    --b-alternative-color: rgb(0,120,45);
    --text-alternative-color: rgb(220,255,230);
    --hover-alternative-color: rgb(0, 145, 45);

     /*-- Secend alternative colors --*/
    --fb-color: rgb(255, 202, 68);
    --fb-text-color: rgb(69, 0, 50);
    --fb-hover-color: rgb(255, 232, 80);
}

/*----- font size -----*/
:root{
     --s: 10px;
     --m: 20px;
     --l: 30px;
     --xl: 40px;
}
.active{
     border-left: solid 3px var(--h-text-color);
     padding-left: 5px;
}