/*------------ section ------------*/
.table{
     display: flex;
     flex-wrap: wrap;
     margin: 10px 0;
}
.table table, th, td{
     border: solid 1px purple;
     border-collapse: collapse;
     padding: 2px 3px;
     cursor: context-menu;
}
.table table th{
     background-color: var(--b-alternative-color);
     color: var(--text-alternative-color);
     
}
/*------------ hover section ------------*/
.table table td:hover{
     background-color: rgb(204, 204, 204);
     transition: all 0.4s ease-in-out;
}